## Общие игнорируемые файлы для проектов на .NET и временных файлов
# Каталоги сборки
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
# Логи
[Ll]og/
[Ll]ogs/
# Различные временные и резервные файлы
~$*
*~
